<%- include('./_header.ejs') %>

<table id="myData">
    <% PlayerData.forEach(function (item) { %>
        <%console.log(item._id)%>
        <%const time_hours = parseInt(item.time_seconds / 3600)%>
        <%const time_minutes = parseInt((item.time_seconds % 3600) / 60)%>
        <%const time_seconds = ((item.time_seconds % 3600) % 60)%>
        <tr>
            <th style="border: 1px solid black;">
                <!-- <img href='/<%=item._id%>' src=<%=item.gameImage %>> -->
                <a href='AllowRecord/<%=item._id%>'>
                    <%= item.game_name %>
                </a>
            </th>
            <th style="border: 1px solid black;">
                <h1>
                    <%= item.run_type %>
                </h1>
            </th>
            <th style="border: 1px solid black;">
                <h1>
                    hr: <%= time_hours %> min: <%= time_minutes %> sec: <%= time_seconds %> 
                </h1>
            </th>
            <th style="border: 1px solid black;">
                <h1>
                    <%= item.player_name %>
                </h1>
            </th>
        </tr>
    <% }) %>
</table>

<a href="/newRecord">new record</a>
<a href="/newGame">new game</a>