<%- include('./_header.ejs') %>

<div class="game-container">
    <% PlayerData.forEach(function (item) { %>
        <div class="card-container">
            <div class="card">
                <a href='/<%=item._id%>'>
                    <img href='/<%=item._id%>' src=<%=item.gameImage %>
                </a>
                <a href='/<%=item._id%>'>        
                    <h3>
                        <%= item.name %>
                    </h3>
                </a>
            </div>
        </div>
    <% }) %>
</div>

<a href="/newRecord">new record</a>
<a href="/newGame">new game</a>
<a href="/logout">log out</a>
<%if(user.role == 'admin'){ %>
    <a href="/admin">admin</a>
<%}%>