<form action='/newRecord/<%=PlayerData.name%>' method="POST">
    <img src='<%=PlayerData.gameImage%>'>
    <h1>
        <%=PlayerData.name%>
    </h1>
    <div>
        <label>time hours</label>
        <input type="text" id="time_hours" name="time_hours" required>
    </div>
    <div>
        <label>time minutes</label>
        <input type="text" id="time_minutes" name="time_minutes" required>
    </div>
    <div>
        <label>time seconds</label>
        <input type="text" id="time_seconds" name="time_seconds" required>
    </div>
    <div>
        <label>video link</label>
        <input type="text" id="link" name="link" required>
    </div>
    <div>
        <label>Run Type</label>
        <!-- <input type="text" id="runType" name="runType" required> -->
        <select style="width: 200px" name="runType" id="runType">
            <% PlayerData.runType.forEach(function (item) { %>
                <option value='<%=item%>'>
                    <%=item%>
                </option>
                <% }) %>
        </select>
    </div>
    <button type="submit">Register New Record</button>
</form>